* {
  margin: 0; /*detta o padding för att göra koden mer förutsägbar (kke överkurs..)*/
  padding: 0;
  box-sizing: border-box; /* gör att padding (+border..) inkluderas i elementets totala bredd och höjd*/
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  color: #fff;
}
/*
@media only screen and (max-width: 350px) {
  #main-container {
    backdrop-filter: blur(20px);
    background: rgb(0, 0, 0, 0.15);
    margin: 0rem 14rem;
  }
}*/
/* fonts */
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 2rem;
  position: relative;
  padding: 3rem 0 1rem;
}

p {
  font-size: 0.6rem;
}
/* väderikonerna */

#body {
  background-color: #498556;
  font-family: "ZtChintzy", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* så #search kan flyttas */
}

/* central piece */ /* implementera på bilder på flow sen om du har tid*/

/* main */
#main-container {
  backdrop-filter: blur(20px);
  background: #498556;
  position: relative; /* påverkar ej hur andra element flyttas */
  width: 350px;
  height: 900px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /* transition: height .6s ease;*/
}

/* formuläret*/
#search form {
  position: absolute; /* så form håller sig uppe till höger */
  top: 10px;
  right: 3.4rem;
  width: 10rem;
  background-color: #2e5536;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

/* där man matar */
#search input {
  background-color: #2e5536;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

#search .button {
  background-color: #1c3521;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

input::placeholder {
  color: #ffffffb7;
}

#icon {
  max-width: 50px;
  max-height: 50px;
  margin: 1vh;
}

/* typ allt väder-content */
#weatherDetails {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; /* Vertikal kolumn */
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

#weatherDetails p,
#weatherDetails #weatherIcon {
  background-color: rgb(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#weatherDescription {
  background-color: rgba(255, 233, 39, 0.592);
}

#weatherIcon {
  background-color: rgba(255, 233, 39, 0.592);
}

#temp,
#weatherIcon {
  background-color: rgb(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#todayDate,
#sun,
#relHum,
#prec,
#rain,
#showers,
#wind {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

#todayDate {
  background-color: rgba(0, 170, 255, 0.384);
}

#sun {
  background-color: rgba(0, 255, 38, 0.384);
}

#relHum {
  background-color: rgba(251, 8, 255, 0.384);
}

#prec {
  background-color: rgba(225, 255, 0, 0.384);
}

#rain {
  background-color: rgba(102, 25, 255, 0.384);
}

#showers {
  background-color: rgba(255, 118, 6, 0.384);
}

#wind {
  background-color: rgba(0, 255, 119, 0.384);
}
